<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/dashboardAdmin.css">
    <link rel="stylesheet" href="../static/style/chart.css">
    <title>Administrador</title>
</head>

<body>
    <header>
        <div class="fachada">
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
            <div class="four"></div>
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
            <div class="four"></div>
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
            <div class="four"></div>
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
            <div class="four"></div>
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
            <div class="four"></div>
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
            <div class="four"></div>
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
            <div class="four"></div>
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
            <div class="four"></div>
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
            <div class="four"></div>
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
            <div class="four"></div>
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
            <div class="four"></div>
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
            <div class="four"></div>
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
            <div class="four"></div>
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
            <div class="four"></div>
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
            <div class="four"></div>
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
            <div class="four"></div>
        </div>
        <nav>
            <form class="form-navbar">
                <div class="inputs">
                    <input type="number">
                    <p>A</p> <input type="number">
                </div>
                <p class="period">ESCOLHA O PERÍODO</p>
            </form>
            <h1>RESTAURANTE BONNA PETIT</h1>
            <section>
                <div class="user">
                    <img src="../static/assets/account_circle_FILL1_wght400_GRAD0_opsz48.png">
                    <div class="name-user">
                        <p class="">Bla bla</p>
                        <p class="user-function">USUARIO ADM</p>
                    </div>
                </div>
            </section>
        </nav>
    </header>

    <main>
        <section class="sidebar">
            <ul>
                <li>
                    <div>
                        <img src="../static/assets/icon/produto.png" alt="logo" style="width:40px;">
                    </div>
                </li>
                <li>
                    <div>
                        <img src="../static/assets/icon/pedido_1.png" alt="logo" style="width:40px;">
                    </div>
                </li>
                <li>
                    <div>
                        <img src="../static/assets/icon/estoque.png" alt="logo" style="width:40px;">
                    </div>
                </li>
                <li>
                    <div>
                        <img src="../static/assets/icon/clientes.png" alt="logo" style="width:40px;">
                    </div>
                </li>
                <li>
                    <div>
                        <img src="../static/assets/icon/funcionario.png" alt="logo" style="width:40px;">
                    </div>
                </li>
            </ul>
        </section>
        <section class="container">
            <div id="box-1" class="box">
                <p>Número de pedido</p>
            </div>
            <div id="box-2" class="box">
                <p>Faturamento</p>
            </div>
            <div id="box-3" class="box">
                <p>Ticket Médio</p>
            </div>
            <div id="box-4" class="box">
                <p>Produtos mais pedidos</p>
                <div class="chart-container" style="position: relative; height:40vh; width:80vw">
                <canvas id="myChart"></canvas>
            </div>
            </div>
            <div id="box-5" class="box">
                <p>Pedidos por tipo de entrega</p>
            </div>
        </section>
    </main>

    

    <script src="../../../../node_modules/chart.js/dist/chart.js"></script>
    <script src="../static/js/chartjs.js"></script>
</body>
</html>