<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/restaurante.css" />
    <title>Restaurante</title>
  </head>

  <body>
    <header>
      <div class="fachada">
        <div class="one"></div>
        <div class="two"></div>
        <div class="three"></div>
        <div class="four"></div>
        <div class="one"></div>
        <div class="two"></div>
        <div class="three"></div>
        <div class="four"></div>
        <div class="one"></div>
        <div class="two"></div>
        <div class="three"></div>
        <div class="four"></div>
        <div class="one"></div>
        <div class="two"></div>
        <div class="three"></div>
        <div class="four"></div>
        <div class="one"></div>
        <div class="two"></div>
        <div class="three"></div>
        <div class="four"></div>
        <div class="one"></div>
        <div class="two"></div>
        <div class="three"></div>
        <div class="four"></div>
        <div class="one"></div>
        <div class="two"></div>
        <div class="three"></div>
        <div class="four"></div>
        <div class="one"></div>
        <div class="two"></div>
        <div class="three"></div>
        <div class="four"></div>
        <div class="one"></div>
        <div class="two"></div>
        <div class="three"></div>
        <div class="four"></div>
        <div class="one"></div>
        <div class="two"></div>
        <div class="three"></div>
        <div class="four"></div>
        <div class="one"></div>
        <div class="two"></div>
        <div class="three"></div>
        <div class="four"></div>
        <div class="one"></div>
        <div class="two"></div>
        <div class="three"></div>
        <div class="four"></div>
        <div class="one"></div>
        <div class="two"></div>
        <div class="three"></div>
        <div class="four"></div>
        <div class="one"></div>
        <div class="two"></div>
        <div class="three"></div>
        <div class="four"></div>
        <div class="one"></div>
        <div class="two"></div>
        <div class="three"></div>
        <div class="four"></div>
        <div class="one"></div>
        <div class="two"></div>
        <div class="three"></div>
        <div class="four"></div>
      </div>
      <nav>
        <h1>RESTAURANTE BONNA PETIT</h1>
        <section>
          <div class="user">
            <img
              src="../static/assets/account_circle_FILL1_wght400_GRAD0_opsz48.png"
            />
            <div class="name-user">
              <p class="">DOUGLAS</p>
              <p class="user-function">Usuário</p>
            </div>
          </div>
        </section>
      </nav>
    </header>

    <main>
      <section class="sidebar">
        <ul>
          <li>
            <div>
              <img
                src="C:/TOSHIBA/front-trabalhos-master/src/main/resources/static/image/icon/produto.png"
                alt="logo"
                style="width: 40px"
              />
            </div>
          </li>
          <li>
            <div>
              <img
                src="../static/image/icon/pedido_1.png"
                alt="logo"
                style="width: 40px"
              />
            </div>
          </li>
          <li>
            <div>
              <img
                src="../static/image/icon/estoque.png"
                alt="logo"
                style="width: 40px"
              />
            </div>
          </li>
          <li>
            <div>
              <img
                src="../static/image/icon/clientes.png"
                alt="logo"
                style="width: 40px"
              />
            </div>
          </li>
          <li>
            <div>
              <img
                src="../static/image/icon/funcionario.png"
                alt="logo"
                style="width: 40px"
              />
            </div>
          </li>
        </ul>
      </section>

      <section class="container">
        <div id="box1">
          <h1>Restaurante</h1>

 
          <div class="container">
            <div class="col-md-3 col-sm-3 col-xs-6">
              <a href="#" class="btn btn-sm animated-button primeiroBotao"
                >Cadastrar</a
              >
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
              <a href="#" class="btn btn-sm animated-button segundoBotao"
                >Editar</a
              >
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
              <a href="#" class="btn btn-sm animated-button terceiroBotao"
                >Excluir</a
              >
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
